* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #15c;
}

body {
    color: #303942;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

.text-success {
    color: #2C662D;
}

.text-error {
    color: #9F3A38;
}

.alert {
    padding: 16px;
    background: #F8F8F9;
    font-size: 14px;
}

.alert-success {
    box-shadow: 0 0 0 1px #A3C293 inset, 0 0 0 0 transparent;
    background-color: #FCFFF5;
    color: #2C662D;

    .alert-title {
        color: #1A531B;
    }
}

.alert-error {
    box-shadow: 0 0 0 1px #E0B4B4 inset, 0 0 0 0 transparent;
    background-color: #FFF6F6;
    color: #9F3A38;

    .alert-title {
        color: #912D2B;
    }
}
