:local(.root) {
    margin: 0 auto;
    max-width: 1280px;
    padding: 20px 10px;
}

:local(.wrap) {
    border: 1px solid rgba(0,0,0,.12);
    padding: 16px;
}

:local(.alert) {
    margin-bottom: 16px;

    &:last-child {
        margin-bottom: 0;
    }
}


