:local(.root) {
    flex: 1;
}

:local(.contentHeader) {
    background: linear-gradient(#fff, #fff 40%, rgba(255, 255, 255, 0.92));
    border-bottom: 1px solid #eee;
    font-size: 150%;
    padding: 20px 0 10px 0;
    z-index: 1;

    // HACK: Chrome 55 中英混排高度不一致
    height: 54px;
    line-height: 23px;
}
